.news-articles {
  flex-wrap: wrap;
}

.card {
  background-color: whitesmoke;
  overflow: hidden;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
}

.news-cols {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: stretch;
}
.news-image {
  display: block;
  float: left;
  margin-right: 1rem;
  width: 100%;
  height: 100%;
}

.modal-title {
  font-size: 1.5rem;
  line-height: normal;
}
.modal-newsTitle {
  font-size: large;
}

span.date {
  font-size: 1rem !important;
}
.modal-footer {
  display: block;
  justify-content: flex-start;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  margin: 1rem;
}
